# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/MavenWrapperDownloader.java
.mvn/WrapperDownloader.java
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.class

# IDE-specific files and directories
/.idea
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~

# Eclipse-specific files
.classpath
.project
.settings/

# NetBeans-specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Gradle build files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Others
target/
bin/
out/
gen/
.releaseBackup/
**/node_modules/
**/.classpath
**/.project
**/.settings
**/.vscode
